<?xml version="1.0"?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Log4net_Logs/Logs_%date{yyyyMMdd}.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header]&#13;&#10;" />
      <footer value="[Footer]&#13;&#10;" />
      <conversionPattern value="%date [%thread] %-5level  %logger  - %message%newline" />
    </layout>
  </appender>
  <appender name="LogFileAppenderPerformance" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Log4net_Logs/Performance.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header]&#13;&#10;" />
      <footer value="[Footer]&#13;&#10;" />
      <conversionPattern value="%date - %message%newline" />
    </layout>
  </appender>

  <root>
        <level value="" />
        <appender-ref ref="LogFileAppender" />
    </root>
  <logger name="performanceLog">
    <level value="" />
    <appender-ref ref="LogFileAppenderPerformance" />
  </logger>
</log4net>

